.card {
  display: flex;
  flex-direction: column;
  background: #fff;
  // border-radius: 12px;
  border-radius: 0px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  

  width: 100%;

  // Desktop: Обмежуємо розмір картки за розміром фото
  @media (min-width: 768px) {
    width: fit-content;
    max-width: 350px; // Опціонально: щоб картка не була завеликою
  }

  &__image {
    display: block;
    width: 100%;

    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  &__body {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  &__title {
    margin: 0;
    font-size: 1.25rem;
    color: #222;
  }

  &__description {
    margin: 0;
    font-size: 0.95rem;
    color: #555;
    line-height: 1.4;
  }

  &__button_more {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.75rem 1.25rem;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    transition: opacity 0.2s;
    
    &:hover {
      opacity: 0.8;
    }

    // @media (min-width: 768px) {
    //   align-self: flex-start; // На десктопі кнопка не на всю ширину
    // }
  }

  &__button {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.75rem 1.25rem;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    transition: opacity 0.2s;
    
    &:hover {
      opacity: 0.8;
    }

    // @media (min-width: 768px) {
    //   align-self: flex-start; // На десктопі кнопка не на всю ширину
    // }
  }
}



















.card__image-wrapper {
  position: relative;
}

.card__badges {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.card__badge {
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  font-size: 0.7rem;
  font-weight: bold;
  color: #fff;
  white-space: nowrap;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* Стилі для конкретних плашечок */
.card__badge--триває {
  background-color: #28a745; // зелений
}

.card__badge--розіграш {
  background-color: #ffc107; // жовтий
  color: #000;
}

.card__badge--закритий {
  background-color: red; // жовтий
  color: #000;
}

